.tblack {
  color: black;
  background-color: white;
}

.twhite {
  color: white;
  background-color: black;
}

.vm {
  vertical-align: middle; 
} 

/* unvisited link */
a:link {
  color: blue;
}

.twhite a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

.twhite a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: blue;
}

.twhite a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}
