.bwhite {
  color: black;
  background-color: white;
}

.bblack {
  color: white;
  background-color: black;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}
